@import "../constants";
.page-intro-page--wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
}

.page-intro-page--button-wrapper {
  position: absolute;
  top: 39%;
  width: 100%;
  transform: translateY(-50%);
  font-weight: 100;
  font-size: 150%;
  text-transform:uppercase;
  @media screen and (max-width: $break-large) {
    font-size: 180%;
  }
}
